html {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	scroll-behavior: smooth;
}
.nav-flex {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 17vw;
	padding-right: 17vw;
	padding-bottom: 2vh;
	padding-top: 2vh;
	font-size: 1.2rem;
	border-bottom: solid;
	border-width: 1px;
	font-weight: 700;
	background-color: white;
	z-index: 50;
}

.nav-small-flex {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-bottom: 2vh;
	padding-top: 2vh;
	font-size: 1rem;
	border-bottom: solid;
	border-width: 1px;
	font-weight: 700;
	background-color: white;
	z-index: 50;
}

.nav-content-flex {
	width: 423px;
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
}

a {
	text-decoration: none;
	color: black;
}

.intro-div {
	padding-left: 17vw;
	padding-right: 50vw;
	padding-top: 12vh;
}

.intro-paragraph {
	font-size: 1.4rem;
}

.intro-email {
	margin-top: 5vh;
	font-size: 1.2rem;
	text-decoration: underline;
}

.featured-projects {
	padding-left: 17vw;
	padding-right: 17vw;
	margin-top: 15vh;
}

.projects-heading {
	font-size: 1.6rem;
}
.projects-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 5vh;
	grid-column-gap: 2vw;
}

.project {
	background-color: #eae3dd;
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.project * {
	pointer-events: none;
}

.project-image {
	width: 75%;
	height: 75%;
	object-fit: contain;
	pointer-events: none;
}

.project-text {
	position: absolute;
	display: none;
	flex-direction: column;
	top: 2vh;
	left: 2vw;
	right: 2vw;
	/* height: 80%; */
	bottom: 4vh;
	justify-content: space-between;
	color: white;
}

.project-title {
	font-size: 2em;
	/* padding-top: 3vh; */
}

.project-description {
	font-size: 1.2em;
	/* padding-bottom: 5vh; */
}

.project-cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(227, 186, 145, 0);
	transition: 0.3s;
}

/* .project-cover:hover {
    background-color: rgba(202, 129, 56, 0.8);
    transition: .3s;
} */

/* @media screen and (max-device-width: 300px) {
	.projects-grid {
		display: grid;
		grid-template-columns: 1fr;
	}
} */

@media only screen and (max-width: 700px) {
	.projects-grid {
		display: grid;
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 1200px) {
	.featured-projects {
		padding-left: 8vw;
		padding-right: 8vw;
	}

	.nav-flex {
		padding-left: 8vw;
		padding-right: 8vw;
	}

	.intro-div {
		padding-left: 8vw;
		padding-right: 8vw;
	}
}

@media screen and (max-height: 650px) {
	.project-title {
		font-size: 1.5em;
	}

	.project-description {
		font-size: 1em;
	}
}

@media screen and (max-height: 400px) {
	.project-title {
		font-size: 1.2em;
	}

	.project-description {
		font-size: .75em;
	}
}
